{% extends "base.html" %}

{% block title %}My Card{% endblock %}
<!-- {% block apiBindAlert %}
<script>
window.onload=alert(123)
</script>
{% endblock %} -->


{% block extraCss %}
{% load staticfiles %}

    <link href="{% static "css/reset.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" >
    <link href="{% static "css/flat-ui.css" %}" rel="stylesheet">
    <link  href="{% static "css/myCard.css" %}" rel="stylesheet/less">
    <link href="{% static "css/captureAudioAndSnapshot.css" %}" rel="stylesheet">

    <script src="{% static "js/less-1.4.1.min.js" %}" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

{% endblock %}

{% block active3 %}active{% endblock %}

{% block body %}
    <div class="overlay">
      
      <div><i class="fa fa-spinner fa-spin fa-2x"></i><p>Uploading...</p></div>
    </div>
<div class="errorModal modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close closeError fui-cross" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Illegal Input</h3>
      </div>

      <div class="errorBody modal-body">
        
      </div>

      <div class="modal-footer">
        <a href="#" class="closeError btn">OK</a>
      </div>
    </div>
  </div>  
</div>

    <div class="uploadPicModal modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close closeUploadModal fui-cross" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Upload picture</h4>
          </div>
            <form method="POST" action="{% url uploadImageFromFile %}" enctype="multipart/form-data" id="uploadPicForm">

          <div class="modal-body">
            <input type="file" name="image" />
          </div>

          <div class="modal-footer">

            <a href="#" class="btn btn-primary submitUploadPicButton">Upload Picture</a>

          </div>
              {% csrf_token %}

            </form>

        </div>
      </div>  
    </div>

    <div class="record modal" style="display:none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="closeRecordWindow close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Record your self-introduction</h4>
          </div>

          <div class="modal-body" style="margin-bottom:18%;">
            <p class="recordPreview">Preview:</p>
            <audio controls></audio>

            <button type="button" class="btn btn-default" id="startRecordButton">Start Record   <i class="fa fa-circle" style="color:rgb(218, 81, 81); font-size:0.8em;"></i></button>
            <button type="button" class="btn btn-default" id="stopRecordButton">Stop Record    <i class="fa fa-stop" style="color:black; font-size:0.8em;"></i></button>
          
            <div class="recordStatus1" style="visibility:hidden;"><i class="fa fa-microphone fa-spin" style="color:rgb(218, 81, 81); font-size:0.8em;"></i>   Recording...<div class="recordCounter"></div></div>
            <div class="recordStatus2" style="display:none; visibility:hidden;"><i class="fa fa-stop" style="color:black; font-size:0.8em;"></i>    Stopped</div>
            <div class="recordStatus3" style="display:none; visibility:hidden;">Uploading Success!</div>
          </div>

          <div class="modal-footer">
            <a href="#" class="closeRecordWindow btn">Cancel</a>
            <a href="#" class="btn" id="upLoadAudioButton">Upload</a>
          </div>
        </div>
      </div>  
    </div>

    <div class="takePhoto modal" style="display:none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="closePhotoWindow close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Take your profile photo</h4>
          </div>

          <div class="modal-body">
            
            <video autoplay class="wVideoContainer"></video>
            <a href="#" class="fa fa-camera-retro fa-3x" id="snapShotButton"></a>

            <img src="" class="wSnapshotContainer" height="240" width="240">
            <canvas style="display:none;" height="480" width="640"></canvas>
            
          </div>

          <div class="modal-footer">
            <a href="#" class="closePhotoWindow btn">Cancel</a>
            <a href="#" class="btn" id="uploadImageButton">Upload</a>
          </div>
        </div>
      </div>  
    </div>

    <div class="moreInfo modal" style="display:none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="closeInfoWindow close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Add more infos</h4>
          </div>

          <div class="modal-body">
            
            <form>
              <input type="text" class="form-control" placeholder="Street Address 3" name="address3">
              <input type="text" class="form-control" placeholder="City Address 3" name="city3" id="city3Auto">

              <input type="text" class="form-control" placeholder="Street Address 4" name="address4">
              <input type="text" class="form-control" placeholder="City Address 4" name="city4" id="city4Auto">

              <input type="text" class="form-control" placeholder="Street Address 5" name="address5">
              <input type="text" class="form-control" placeholder="City Address 5" name="city5" id="city5Auto">
              <div style="clear:both"></div>

              <input type="text" class="form-control" placeholder="Phone Number 3" name="phone3">
              <input type="text" class="form-control" placeholder="Phone Number 4" name="phone4">
              <input type="text" class="form-control" placeholder="Phone Number 5" name="phone5">
              <div style="clear:both"></div>

              <input type="email" class="form-control" placeholder="Email3" name="email3">
              <input type="email" class="form-control" placeholder="Email4" name="email4">
              <input type="email" class="form-control" placeholder="Email5" name="email5">
              <div style="clear:both"></div>
            </form>
            
          </div>

          <div class="modal-footer">
            <a href="#" class="closeInfoWindow btn">OK</a>
          </div>
        </div>
      </div>  
    </div>

    <div class="showMoreInfo modal" style="display:none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="closeShowInfoWindow close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Additional infos</h4>
          </div>

          <div class="modal-body">
            <ul>
              <li><i class="fa fa-home fa-1x"></i>   Additional Addresses</li>
              <li><a class="address3">{% if card.address3 and card.city3 %}{{card.address3}}, {{card.city3}}{% else %}{{card.address3}} {{card.city3}}{% endif %}</a></li>
              <li><a class="address4">{% if card.address4 and card.city4 %}{{card.address4}}, {{card.city4}}{% else %}{{card.address4}} {{card.city4}}{% endif %}</a></li>
              <li><a class="address5">{% if card.address5 and card.city5 %}{{card.address5}}, {{card.city5}}{% else %}{{card.address5}} {{card.city5}}{% endif %}</a></li>
            </ul>
            <ul>
          
              <li><i class="fa fa-phone fa-1x"></i>   Additional Phone Numbers</li>
              <li><a class="phone3">{{card.phone3}}</a></li>
              <li><a class="phone4">{{card.phone4}}</a></li>
              <li><a class="phone5">{{card.phone5}}</a></li>
            </ul>
            <ul>

              <li><i class="fa fa-envelope-o fa-1x"></i>   Additional Emails</li>
              <li><a class="email3">{{card.email3}}</a></li>
              <li><a class="email4">{{card.email4}}</a></li>
              <li><a class="email5">{{card.email5}}</a></li>
            </ul>
            <div style="clear:both"></div>
           
            
          </div>

          <div class="modal-footer">
            <a href="#" class="closeShowInfoWindow btn">OK</a>
          </div>
        </div>
      </div>  
    </div>
        <div class="xContent">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div class="xOtherCardHead">
                    <div>
                      <h4>My Card</h4>
                      <hr class="xLine">
                    </div>
              
                     
                  </div>
                    <div class="xShowCard">
                      <div class="xShowCardLeft">
                      <div class="xFlipcardContainer">

                        <div class="flipcard">
                          <div class="xShowProfile face front">
                          
                          <div class="old1" style="display:block;">
                            <div>
                              <div class="xShowLeft">
                                <div class="xShowProfilePicture">
                                  <img src="{% if card.imageURL %}{{card.imageURL}}{% else %}https://s3.amazonaws.com/knot/default.jpg{% endif %}" alt="Picture">
                                  <div class="playRecordButton"><a href="#" class="playRecordTriangle fa fa-play-circle fa-5x" onclick="this.firstChild.play()"><audio src="{{card.soundURL}}"></audio></a></div>
                                  
                                </div>
                              </div>

                              <div class="xShowRight">
                                <a href="#" class="name">{{card.firstName}} {{card.lastName}}<text class="gender">{{card.gender}}</text></a>
                                <p class="title">{{card.title}}</p>
                                <p id="cardId" style="display:none">{{card.id}}</p>
                              </div>
                            </div>
                            <a href="#" class="xPlusIcon fa fa-plus" onclick="showProfile('.xShowProfile .old1 .xPlusIcon')"></a>


                          </div>

                          <div class="new1" style="display:none;">
                            <div>
                              <div class="xShowLeft">
                                <div class="xShowProfilePicture">
                                  <img src="{% if card.imageURL %}{{card.imageURL}}{% else %}https://s3.amazonaws.com/knot/default.jpg{% endif %}" alt="Picture">
                                  <button href="#" class="btn btn-primary xUploadPicture">Upload Picture</button>
                                  
                                </div>
                              </div>

                              <div class="xShowRight">
                                <ul>
                                <li title="Name"><i class="fa fa-user"></i><text class="name">{{card.firstName}} {{card.lastName}}</text><text class="gender">{{card.gender}}</text></li>
                                <li title="Title"><i class="fa fa-suitcase"></i><text class="title">{{card.title}}</text></li>
                                <li title="Birthday"><img src="{% static 'img/icons/birthday_cake.png' %}" alt='birthday'><text class="birthday">{{card.birthday}}</text></li>
                                <li title="Citizenship"><i class="fa fa-globe"></i><text class="citizenship">{{card.citizenship}}</text></li>
                                </ul>
                              </div>
                            </div>
                            <a href='#' class='xMinusIcon fa fa-minus' onclick="hideProfile('.xShowProfile .new1 .xMinusIcon')"></a>
                            <a href='#' class='xEditIcon fa fa-edit'></a>
                            <a href="#" class="xCameraIcon fa fa-camera"></a>
                            <a href="#" class="xRecordIcon fa fa-microphone"></a>

                          </div>


                          </div>

                          <div class="xShowProfile face back">
                            <div>

                              <form>
                                  <input type="text" class="form-control" placeholder="First Name" name="firstName">
                                  <input type="text" class="form-control" placeholder="Last Name" name="lastName">

                                  <select class="genderSelect">
                                    <option value="0" selected="">Male</option>
                                    <option value="1" selected="selected">Female</option>
                                  </select>

                                  <input type="text" class="form-control" placeholder="Title" name="title">
                                  <input type="date" class="form-control" placeholder="Birthday" name="birthday">
                                  <input type="text" class="form-control" placeholder="Citizenship" name="citizenship">

                                <a class="xEditIcon" href="#" onclick="updateMyCard()">Submit</a>
                                <a class="xEditIcon" href="#">Cancel</a>

                              </form>
                            </div>
                          </div>
                        </div>
                      </div>

                        <div class="xShowSSN">
                          <div class="xShowSSN1">
                            <div>
                              {% if card.facebook %}
                              <a href="{{card.facebook}}"><i class="fa fa-facebook-square fa-3x bFacebook"></i></a>
                              {% else %}
                              <a title="Click here to link with Facebook" href="{% url connectFacebook %}"><i class="fa fa-facebook-square fa-3x"></i></a>                             
                              {% endif %}
                            </div>
                            <div>
                              {% if card.twitter %}
                              <a href="{{card.twitter}}"><i class="fa fa-twitter-square fa-3x bTwitter"></i></a>
                              {% else %}
                              <a title="Click here to link with Twitter" href="{% url connectTwitter %}"><i class="fa fa-twitter-square fa-3x"></i></a>                             
                              {% endif %}
                            </div>
                            <div>
                              {% if card.googlePlus %}
                              <a href="{{card.googlePlus}}"><i class="fa fa-google-plus-square fa-3x bGooglePlus"></i></a>
                              {% else %}
                              <a title="Click here to link with Google Plus" href="/connectGoogle/"><i class="fa fa-google-plus-square fa-3x"></i></a>                             
                              {% endif %}
                            </div>
                            <div>
                              {% if card.linkedin %}
                              <a href="{{card.linkedin}}"><i class="fa fa-linkedin-square fa-3x bLinkedin"></i></a>
                              {% else %}
                              <a title="Click here to link with LinkedIn" href="/connectLinkedin/"><i class="fa fa-linkedin-square fa-3x"></i></a>                             
                              {% endif %}                              
                            </div>
                          </div>
                          <div class="xShowSSN2">
                            <div>
                              {% if card.instagram %}
                              <a href="{{card.instagram}}"><i class="fa fa-instagram fa-3x bInstagram"></i></a>
                              {% else %}
                              <a title="Click here to link with Instagram" href="/connectInstagram/"><i class="fa fa-instagram fa-3x"></i></a>                             
                              {% endif %}
                            </div>
                          
                            <div>
                              {% if card.github %}
                              <a href="{{card.github}}"><i class="fa fa-github-square fa-3x bGithub"></i></a>
                              {% else %}
                              <a title="Click here to link with Github" href="/connectGithub/"><i class="fa fa-github-square fa-3x"></i></a>                             
                              {% endif %}
                            </div>

                            <div>
                              {% if card.tumblr %}
                              <a href="{{card.tumblr}}"><i class="fa fa-tumblr-square fa-3x bTumblr"></i></a>
                              {% else %}
                              <a title="Click here to link with Tumblr" href="/connectTumblr/"><i class="fa fa-tumblr-square fa-3x"></i></a>                             
                              {% endif %}
                            </div>

                            <div>
                              {% if card.vimeo %}
                              <a href="{{card.vimeo}}"><i class="fa fa-vimeo-square fa-3x bVimeo"></i></a>
                              {% else %}
                              <a title="Click here to link with Vimeo" href="/connectVimeo/"><i class="fa fa-vimeo-square fa-3x"></i></a>                             
                              {% endif %}
                            </div>  
                              
                          </div>
                          
                        </div>


                      </div>

                      <div class="xShowCardRight">
                        <div class="xFlipcardContainer">
                          <div class="flipcard">

                            <div class="xShowInfoNew face front">
                              <div class="old2" style="display:block;">
                                <div>
                                  <ul>

                                    <li><i href="#" class="fa fa-home fa-2x"></i><a href="#" class="address1 bGetAddress">{% if card.address1 and card.city1 %}{{card.address1}}, {{card.city1}}{% else %}{{card.address1}} {{card.city1}}{% endif %}</a></li>
                                    
                                    <li><i class="fa fa-phone fa-2x"></i><a class="phone1">{{card.phone1}}</a><a class="fa fa-skype fa-lg bSkype" href="skype:{{card.phone1|cut:" "|cut:"-"}}?call"></a></li>


                                    <li><i class="fa fa-envelope-o fa-2x"></i><a class="email1">{{card.email1}}</a></li>
                                    <li><i class="fa fa-globe fa-2x"></i><a class="blog">{{card.blog}}</a></li>

                                    <li><i class="fa fa-qrcode fa-2x"></i><a class="qrcode"><img src="http://chart.apis.google.com/chart?cht=qr&chs=100x100&chl={{card.user_id}}&chld=H|0" alt="QRCode" id='S3Image' class="xQrcodeImg"></a></li>

                                    

                                  </ul>

                                </div>
                                <a href='#' class='xPlusIcon fa fa-plus' onclick="showProfile('.xShowInfoNew .old2 .xPlusIcon')"></a>
                                
  
                              </div>
                              <div class="new2" style="display:none;">
                                <div>
                                  <ul>
                                    <li><i class="fa fa-home fa-2x"></i>(Home) <a href="#" class="address1 bGetAddress">{% if card.address1 and card.city1 %}{{card.address1}}, {{card.city1}}{% else %}{{card.address1}} {{card.city1}}{% endif %}</a></li>
                                    <li><i class="fa fa-caret-right fa-2x"></i>(Office) <a href="#" class="address2 bGetAddress">{% if card.address2 and card.city2 %}{{card.address2}}, {{card.city2}}{% else %}{{card.address2}} {{card.city2}}{% endif %}</a></li>


                                    <li><i class="fa fa-phone fa-2x"></i>(Home) <a class="phone1">{{card.phone1}}</a></li>

                                    <li><i class="fa fa-caret-right fa-2x"></i>(Work) <a class="phone2">{{card.phone2}}</a></li>


                                    <li><i class="fa fa-envelope-o fa-2x"></i>(Work) <a class="email1">{{card.email1}}</a></li>
                                    <li><i class="fa fa-caret-right fa-2x"></i>(Private) <a class="email2">{{card.email2}}</a></li>
                                    <li><i class="fa fa-globe fa-2x"></i><a class="blog">{{card.blog}}</a></li>
                                  </ul>
                                </div>
                                <a href='#' class='xMinusIcon fa fa-minus' onclick="hideProfile('.xShowInfoNew .new2 .xMinusIcon')"></a>
                                <a href='#' class='xEditIcon fa fa-edit'></a>

                                <a href='#' class='xShowMoreInfo'>More Info</a>


                              </div>


                            </div>

                            <div class="xShowInfo face back">
                              <div>
                                <form>
                                  <input type="text" class="form-control" placeholder="Home Street Address" name="address1">
                                  <input type="text" class="form-control" placeholder="Home City Address" name="city1" id="cityInput1">

                                  <input type="text" class="form-control" placeholder="Office Street Address" name="address2">
                                  <input type="text" class="form-control" placeholder="Office City Address" name="city2" id="cityInput2">

                                  <input type="text" class="form-control" placeholder="Home Phone Number" name="phone1">
                                  <input type="text" class="form-control" placeholder="Work Phone Number" name="phone2">

                                  <input type="email" class="form-control" placeholder="Work Email" name="email1">
                                  <input type="email" class="form-control" placeholder="Private Email" name="email2">

                                  <input type="text" class="form-control" placeholder="Blog" name="blog">
                                  <div style="clear:both"></div>
                                  <a class="xEditIcon" onclick="updateMyCard()" href="#">Submit</a>
                                  <a class="xEditIcon" href="#">Cancel</a>
                                  <a class="addMore" href="#">AddMore</a>

                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                </div>
                <div class="col-md-2"></div>


            </div>            

        </div>

        <div id="bAddressContent">
            <div>
                <div class="bAddressHead">
                    <h4 class="bAddressTitle">My Address</h4>
                    <button class="close bAddressClose">X</button>
                </div>
                <div id="bAddressMap"></div>
            </div>
        </div>


{% endblock %}

{% block extraScript %}
{% load staticfiles %}
    <script src="{% static "js/googleMap.js"%}"></script>
    <script src="{% static "js/flipcard.js" %}"></script>
    <script src="{% static "js/recorder.js" %}"></script>
    <script src="{% static "js/captureAudioAndSnapshot.js" %}"></script>
    <script src="{% static "js/googleAutoComplete.js"%}"></script>

{% endblock %}

